<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>homepage</title>
    <link rel="stylesheet" href="/public/style.css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      tailwind.config = {
        theme: {
          extend: {
            colors: {
              clifford: "#da373d",
            },
          },
        },
      };
    </script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
   
  </head>
  <body>
    <div class="header flex">
      <div
        class="logo h-[inherit] w-[20%] flex justify-end "
      >
        <img src="/public/img/logo.png" class="h-[100%]" alt="" />
      </div>
      <div
        class="search h-[inherit] w-[50%] flex items-center "
      >
     
          <div class="search-bar h-[60%] w-[100%] ms-3 ">
            <input
              type="text"
              placeholder="           Search For Movies, Events, Plays, Sports and Activities"
              class="h-[80%] w-[100%] ms-3 border border-grey-100"
            />
          </div>
      </div>
      <div class="extra h-[inherit] w-[30%]  flex items-center justify-center">
        <a href="/addpage" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
          Add Movie
        </a>
      </div>
    </div>

    <div
      class="nav h-[40px] w-full bg-[rgb(245, 245, 245)] flex justify-between w-full "
      style="background-color: rgb(245,245,245);"
    >
      <div
        class="navs ms-[9.5%] h-[inherit] text-xl flex flex-row justify-evenly w-[30%] "
      >
        <a href="">Movies</a>
        <a href="">Streams</a>
        <a href="">Events</a>
        <a href="">Plays</a>
        <a href="">Sports</a>
        <a href="">Activities</a>
      </div>
      <div
        class="navs h-[inherit] w-[30%]  text-xl flex flex-row justify-evenly me-[10%]"
      >
        <a href="">ListYourShow</a>
        <a href="">Corporates</a>
        <a href="">Offers</a>
        <a href="">Gift Cards</a>
      </div>
    </div>

    <div class="slider">
      <div class="slides">
        <div class="slide">
          <img src="../public/img/slide1.avif" alt="Poster 1" />
        </div>
        <div class="slide">
          <img src="../public/img/slide2.jpg" alt="Poster 2" />
        </div>
      </div>
      <button class="prev" onclick="moveSlide(-1)">&#10094;</button>
      <button class="next" onclick="moveSlide(1)">&#10095;</button>
    </div>

    <script>
      let currentSlide = 0;
      const slides = document.querySelector('.slides');
      const totalSlides = document.querySelectorAll('.slide').length;

      function moveSlide(direction) {
        currentSlide = (currentSlide + direction + totalSlides) % totalSlides;
        slides.style.transform = `translateX(-${currentSlide * 100}%)`;
      }

      setInterval(() => {
        moveSlide(1);
      }, 5000);
    </script>

    <h1 class="text-4xl font-semibold ms-[3%]">Recomended Movies</h1>
    <div
      class="product  h-[70vh] flex items-center justify-evenly w-full"
      style="background-color: rgb(245,245,245);"
    >
      <div class="pro h-[90%] w-[18%] ">
        <div class="img h-[83%] w-full  bordernon">
          <img
            class="h-[100%] w-full rounded-2xl"
            src="https://assets-in.bmscdn.com/discovery-catalog/events/tr:w-400,h-600,bg-CCCCCC:w-400.0,h-660.0,cm-pad_resize,bg-000000,fo-top:l-image,i-discovery-catalog@@icons@@star-icon-202203010609.png,lx-24,ly-615,w-29,l-end:l-text,ie-OC40LzEwICA0MzEuM0sgVm90ZXM%3D,fs-29,co-FFFFFF,ly-612,lx-70,pa-8_0_0_0,l-end/et00356724-gsglcmjwxd-portrait.jpg"
            alt=""
          />
        </div>
        <div class="data flex flex-col justify-evenly ">
          <h1 class="text-xl font-semibold text-black my-2 ms-2">Pushpa 2: The Rule</h1>
          <h1 class="text-lg font-semibold text-gray-700 ms-2">Action/Thriller</h1>
        </div>
      </div>
      
      <div class="pro h-[90%] w-[18%]  ">
        <div class="img h-[83%] w-full  bordernon">
          <img
            class="h-[100%] w-full rounded-2xl"
            src="https://assets-in.bmscdn.com/discovery-catalog/events/tr:w-400,h-600,bg-CCCCCC:w-400.0,h-660.0,cm-pad_resize,bg-000000,fo-top:l-image,i-discovery-catalog@@icons@@star-icon-202203010609.png,lx-24,ly-615,w-29,l-end:l-text,ie-Ny45LzEwICAzMCBWb3Rlcw%3D%3D,fs-29,co-FFFFFF,ly-612,lx-70,pa-8_0_0_0,l-end/et00419713-paygjlfgag-portrait.jpg"
            alt=""
          />
        </div>
        <div class="data flex flex-col justify-evenly ">
          <h1 class="text-xl font-semibold text-black my-2 ms-2">Victor 303</h1>
          <h1 class="text-lg font-semibold text-gray-700 ms-2">
            Action/Drama</h1>
        </div>
      </div>
      
      <div class="pro h-[90%] w-[18%] ">
        <div class="img h-[83%] w-full  bordernon">
          <img
            class="h-[100%] w-full rounded-2xl"
            src="https://assets-in.bmscdn.com/discovery-catalog/events/tr:w-400,h-600,bg-CCCCCC:w-400.0,h-660.0,cm-pad_resize,bg-000000,fo-top:l-image,i-discovery-catalog@@icons@@star-icon-202203010609.png,lx-24,ly-615,w-29,l-end:l-text,ie-OC40LzEwICA1OC42SyBWb3Rlcw%3D%3D,fs-29,co-FFFFFF,ly-612,lx-70,pa-8_0_0_0,l-end/et00396541-epynyumney-portrait.jpg"
            alt=""
          />
        </div>
        <div class="data flex flex-col justify-evenly ">
          <h1 class="text-xl font-semibold text-black my-2 ms-2">Mufasa: The Lion King</h1>
          <h1 class="text-lg font-semibold text-gray-700 ms-2">Adventure/Animation/Drama</h1>
        </div>
      </div>
      
      <div class="pro h-[90%] w-[18%]  ">
        <div class="img h-[83%] w-full bordernon">
          <img
            class="h-[100%] w-full rounded-2xl"
            src="https://assets-in.bmscdn.com/discovery-catalog/events/tr:w-400,h-600,bg-CCCCCC:w-400.0,h-660.0,cm-pad_resize,bg-000000,fo-top:l-image,i-discovery-catalog@@icons@@star-icon-202203010609.png,lx-24,ly-615,w-29,l-end:l-text,ie-OC42LzEwICA4OC44SyBWb3Rlcw%3D%3D,fs-29,co-FFFFFF,ly-612,lx-70,pa-8_0_0_0,l-end/et00416394-jmmlluuywc-portrait.jpg"
            alt=""
          />
        </div>
        <div class="data flex flex-col justify-evenly ">
          <h1 class="text-xl font-semibold text-black my-2 ms-2">Marco</h1>
          <h1 class="text-lg font-semibold text-gray-700 ms-2">
            Action/Thriller</h1>
        </div>
      </div>
      
      <div class="pro h-[90%] w-[18%] ">
        <div class="img h-[83%] w-full  bordernon">
          <img
            class="h-[100%] w-full rounded-2xl"
            src="https://assets-in.bmscdn.com/discovery-catalog/events/tr:w-400,h-600,bg-CCCCCC:w-400.0,h-660.0,cm-pad_resize,bg-000000,fo-top:l-image,i-discovery-catalog@@icons@@star-icon-202203010609.png,lx-24,ly-615,w-29,l-end:l-text,ie-OC4xLzEwICAxMDkgVm90ZXM%3D,fs-29,co-FFFFFF,ly-612,lx-70,pa-8_0_0_0,l-end/et00423687-vzjfnmqblz-portrait.jpg"
            alt=""
          />
        </div>
        <div class="data flex flex-col justify-evenly ">
          <h1 class="text-xl font-semibold text-black my-2 ms-2">Kaashi Raaghav</h1>
          <h1 class="text-lg font-semibold text-gray-700 ms-2">
            Drama</h1>
        </div>
      </div>
      
    </div>
    <div class="content flex flex-wrap bg-[rgb(245,245,245)] ">
      <div class="movieBox w-full flex flex-wrap">
        <%data.map((e)=>{%>
        <div class="co mx-5 my-5">
          <div class="post w-full">
            <img src="<%=e.image%>" class="h-[400px] w-auto object-cover rounded-lg" alt="" id="image" />
          </div>
          <h1 class="movieName text-xl font-semibold mt-4"><%=e.name%></h1>
          <h1 class="movieTitle text-lg text-gray-700"><%=e.title%></h1>
          <div class="flex gap-4 mt-4">
            <a href="/edit?id=<%=e.id%>"><button class="px-4 py-2 bg-blue-500 text-white rounded">Edit</button></a>
            <a href="/delete?id=<%=e.id%>"><button class="px-4 py-2 bg-red-500 text-white rounded">Delete</button></a>
          </div>
        </div>
        <% })%>
      </div>
    </div>

  
  </body>
</html>
