<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>SeoDash Free Bootstrap Admin Template by Adminmart</title>
  <link rel="shortcut icon" type="image/png" href="../assets/images/logos/seodashlogo.png" />
  <link rel="stylesheet" href="../../node_modules/simplebar/dist/simplebar.min.css">
  <link rel="stylesheet" href="../assets/css/styles.min.css" />
</head>

<body>
  <!--  Body Wrapper -->
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    <!-- Sidebar Start -->
    <%-include("aside")%>
      <!--  Sidebar End -->
      <!--  Main wrapper -->
      <div class="body-wrapper">
        <!--  Header Start -->
        <%-include("header")%>
        <!--  Header End -->
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title m-b-0">Static Table</h5>
              </div>
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">image</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">email</th>
                    <th scope="col">password</th>
                    <th scope="col">gender</th>
                    <th scope="col">language</th>
                    <th scope="col">country</th>
                    <th scope="col" colspan="2">action</th>
                  </tr>
                </thead>
                <tbody>
                  <%data.map((e,i)=>{%>
                    <tr>
                      <td><%=i+1%></td>
                      <td><img src="<%=e.image%>" style="height: 30px;width: 30px;" alt=""></td>
                      <td><%=e.fname%></td>
                      <td><%=e.lname%></td>
                      <td><%=e.email%></td>
                      <td><%=e.password%></td>
                      <td><%=e.gender%></td>
                      <td><%=e.language%></td>
                      <td><%=e.country%></td>
                      <td>
                        <button><a href="/editData?id=<%=e.id%>">Edit</a></button>
                        <button><a href="/deleteData?id=<%=e.id%>">Delete</a></button>
                      </td>
                    </tr>

                  <%})%>
                </tbody>
              </table>
            </div>



          </div>
        </div>
      </div>
  </div>
  <script src="../assets/libs/jquery/dist/jquery.min.js"></script>
  <script src="../assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="../assets/libs/simplebar/dist/simplebar.js"></script>
  <script src="../assets/js/sidebarmenu.js"></script>
  <script src="../assets/js/app.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
</body>

</html>